*.gem
*.rbc
.bundle
.config
.ruby-version
.yardoc
.idea/
enumerize.iml
Gemfile*.lock
gemfiles/Gemfile-*.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
log/*
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/bundle
